<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA7AdgDTcIY0XsZ6BpMalkwKWIBcdeUBqs</string>
	<key>GCM_SENDER_ID</key>
	<string>171972195219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srisawad.morningvn</string>
	<key>PROJECT_ID</key>
	<string>arunsawad-vn-application</string>
	<key>STORAGE_BUCKET</key>
	<string>arunsawad-vn-application.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171972195219:ios:e8c43cfef918d1fd156e66</string>
</dict>
</plist>